/* Hide desktop nav on small screens */
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }

  .hamburger-icon {
    display: block !important;
  }
}

/* Hide mobile nav on large screens */
@media screen and (min-width: 769px) {
  .mobile-nav {
    display: none !important;
  }

  .hamburger-icon {
    display: none !important;
  }
}

.nav-link a:hover {
  color: #6A0DAD;
  transition: color 0.3s ease;
}
